Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
BuildGame/
*.DS_Store

# Don't ignore Python binaries file in TAPython
!Plugins/TAPython/Binaries

#Exception for FMOD because it's a special case.
!Plugins/FMODStudio/Binaries

#python cache
__pycache__/
*.pyc

#tapython shelf Settings
**/ShelfTools/saved_shelf.json
*.ipch

.idea/
Build/Windows/FileOpenOrder/
dgs.yaml

Jenkins/Tools/current_hash.txt
Jenkins/Tools/release_note.txt

Build/WindowsClient/ChunkLayerInfo
Build/WindowsClient/FileOpenOrder
Build/WindowsServer/ChunkLayerInfo
Build/WindowsServer/FileOpenOrder
Build_Client
Build/Android/src
Build/Android_ASTCClient/ChunkLayerInfo
Build/Android_ASTCClient/FileOpenOrder
Build/IOSClient/*
.sentry-native
Plugins/AutoSizeComments
Plugins/BlueprintAssist
Plugins/vc-ue-extensions
